<!DOCTYPE html>

<head>
    <html lang="es">
    <meta charset="UTF-8">
    <title>Cambiar Contraseña</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/estilos.css" />
    <link rel="stylesheet" href="css/dashboardStyle.css" />
    <script src="javascript/confirmPasswords.js"></script>
</head>

<body>
    <header>
        <div class="busquedad">
            <input href="search.html" name="buscar" type="text" autocomplete="off" placeholder="Buscar" />
        </div>
        <div>
            <nav class="menu">
                <a href="crear_blog.html">crear</a>
                <a href="">Explorar</a>
                <a href="">mis blogs</a>
            </nav>
        </div>
        <div class="perfil">
            <ul class="nav">
                <li>
                    <a href="">Usuario</a>
                    <ul>
                        <li><a href="">Perfil</a></li>
                        <li><a href="changePassword.html">Configuracion</a></li>
                        <li><a href="login.html">Cerrar Sesion</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </header>
</body>

<body>
    <h1><strong>Modificar Contraseña</strong></h1>
    <br>
    <form method="post" onsubmit="return validar_contraseñas();" style="text-align:center">
        <label for="label">Contraseña actual:</label><br>
        <input type="password" id="oldPass" required="required" name="oldPass"><br><br>
        <label for="label">Nueva contraseña:</label><br>
        <input type="password" id="newPass" required="required" name="newPass"><br><br>
        <label for="label">Confirme contraseña:</label><br>
        <input type="password" id="confirmPass" required="required" name="confirmPass"><br><br>
        <input type="submit" value="Cambiar Contraseña"><br>
    </form>
</body>

</html>
</body>