<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Registro Nuevo Usuario</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      type="image/png"
      href="https://img.icons8.com/clouds/100/000000/flicker-free.png"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/dashboardStyle.css') }}"
    />
    <link rel="shortcut icon" type="image/png" href="https://img.icons8.com/clouds/100/000000/flicker-free.png" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboardStyle.css') }}" />
    <!-- <script src="{{ url_for('static', filename='javascript/verifyRegister.js') }}"></script> -->
  </head>

  <header></header>

  <body>
    <h1><strong>Ingresa tus datos</strong></h1>
    <br />

    <form
      method="POST"
      action="{{ url_for('registro')}}"
      style="text-align: center"
    >
      <!--onsubmit="return validar_usuario();" -->
      <label for="label">Primer nombre:</label><br />
      <input
        type="name"
        id="name"
        required="required"
        name="name"
      /><br /><br />
      <label for="label">Primer apellido:</label><br />
      <input
        type="apellido"
        id="lastname"
        required="required"
        name="lastname"
      /><br /><br />
      <label for="label">Usuario:</label><br />
      <input
        type="user"
        id="user"
        required="required"
        name="user"
      /><br /><br />
      <label for="label">Foto de Perfil:</label><br />
      <input style="margin-left: 5%" type="file" name="imagen" /><br /><br />
      <label for="label">Correo Electrónico:</label><br />
      <input
        type="email"
        id="email"
        required="required"
        name="email"
      /><br /><br />
      <label for="label">Contraseña:</label><br />
      <input
        type="password"
        id="password"
        required="required"
        name="password"
      /><br /><br />
      <label for="label">Confirme contraseña:</label><br />
      <input
        type="password"
        id="confirmPass"
        required="required"
        name="confirmPass"
      /><br /><br />
      <input type="submit" value="¡REGISTRATE!" />
      <section class="content" Style="text-align:center">
        {%for message in get_flashed_messages()%}
        <div class="flash"><strong>{{message}}</strong></div>
        {%endfor%}
      </section>
    <form method="POST" action="{{ url_for('registro')}}" style="text-align: center">
        <!--onsubmit="return validar_usuario();" -->
        <label for="label">Primer nombre:</label><br />
        <input type="name" id="name" required="required" name="name" /><br /><br />
        <label for="label">Primer apellido:</label><br />
        <input type="apellido" id="lastname" required="required" name="lastname" /><br /><br />
        <label for="label">Usuario:</label><br />
        <input type="user" id="user" required="required" name="user" /><br /><br />
        <label for="label">Foto de Perfil:</label><br />
        <input style="margin-left: 5%" type="file" name="imagen" /><br /><br />
        <label for="label">Correo Electrónico:</label><br />
        <input type="email" id="email" required="required" name="email" /><br /><br />
        <label for="label">Contraseña:</label><br />
        <input type="password" id="password" required="required" name="password" /><br /><br />
        <label for="label">Confirme contraseña:</label><br />
        <input type="password" id="confirmPass" required="required" name="confirmPass" /><br /><br />
        <input type="submit" value="¡REGISTRATE!" />

        <section class="content" Style="text-align:center">
            {%for message in get_flashed_messages()%}
            <div class="flash"><strong>{{message}}</strong></div>
            {%endfor%}
        </section>
    </form>
  </body>
</html>
