<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>crear blog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/createBlogStyle.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboardStyle.css') }}" />
</head>

<header>
    <div class="busquedad">
        <input href="/resultados" name="buscar" type="text" autocomplete="off" placeholder="Buscar" />
    </div>
    <div>
        <nav class="menu">
            <a href="/create">crear</a>
            <a href="">Explorar</a>
            <a href="">mis blogs</a>
        </nav>
    </div>
    <div class="perfil">
        <ul class="nav">
            <li>
                <a href="">Usuario</a>
                <ul>
                    <li><a href="/perfil">Perfil</a></li>
                    <li><a href="/cambiarClave">Configuracion</a></li>
                    <li><a href="/login">Cerrar Sesion</a></li>
                </ul>
            </li>
        </ul>
    </div>
</header>

<body>

    <form method="POST" action="{{url_for('createBlog')}}">
        <h1 style="position: relative;left: 5%;transform: translate(0, 60%);">Crear blogs</h1>

        <div class="contenido">
            <div class="crearblog" id="titulo">
                <label id="titulo"> Titulo del blog: </label>
                <br>
                <input type="text" id="titulo" name="titulo" required="required" style="margin-top: 0.5%;">
            </div>


            <div class="crearblog" id="Cuerpo del blog" style="margin-top: 2.5%;">
                Cuerpo del blog:
                <br>
                <input type="text" id="cuerpo" required="required" name="cuerpo" style="border-bottom-width: 1.992; padding-bottom: 80px;">
            </div>
            <br>
            <div class="crearblog">
                <input type="radio" name="privado" id="privado"> Privado
                <input type="radio" name="noprivado" id="noprivado" style="margin-left: 2%;"> Publico
                <input type="button" value="Agregar imagenes" style="margin-left: 31.5%;">
            </div>

            <div class="crearblog" id="etiquetas" style="margin-top: 5%;">
                <label id="etiquetas"> Etiquetas: </label>
                <br>
                <input type="text" id="etiquetas" name="etiquetas" style="margin-top: 0.5%;">
            </div>

            <div class="crear/eliminarblog" style="margin-top: 10%;">
                <input id="crearBlog" type="submit" action="{{url_for('createBlog')}}" name="crearBlog" value="Crear blog " style=" width: 35%;font-size:14pt; ">
            </div>

            <section class="content ">
                {%for message in get_flashed_messages()%}
                <div class="flash "><strong>{{message}}</strong></div>
                {%endfor%}
            </section>

    </form>

    <aside class="aside ">
        <div id="ultimospost ">
            <p><textarea name="ultimos post " cols="40 " rows="21 " style="width: 70%; "></textarea></p>
        </div>
        <br>


    </aside>
</body>

</html>