<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Recuperar Contraseña</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboardStyle.css') }}" />
</head>

  <header>
        <div class="busquedad">
            <input href="/resultados" name="buscar" type="text" autocomplete="off" placeholder="Buscar" />
        </div>
        <div>
            <nav class="menu">
                <a href="">Explorar</a>
            </nav>
        </div>
  </header>

<body>
    <h1><strong>Recupera tu contraseña</strong></h1><br>
    <form method="post" action="/login" style="text-align:center">
        <label for="label">Digite su email:</label><br>
        <input type="email" id="email" required="required" name="email"><br><br>
        <input type="submit" value="Recuperar Contraseña"><br><br><br>
    </form>
    <div style="text-align:center">
        <p>Importante: Una vez ingresado su correo verifique su correo electrónico (Revise Spam) y siga los pasos que se le indican allí.</p>
    </div>
</body>

</html>
