<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Recuperar Contraseña</title>
    <link rel="shortcut icon" type="image/png" href="https://img.icons8.com/clouds/100/000000/flicker-free.png"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboardStyle.css') }}" />
</head>

<header>
    <div style="color:White; font-size: large;">
        BIENVENIDO A BLOGS A
    </div>
</header>

<body>
    <h1><strong>Recupera tu contraseña</strong></h1><br>
    <form method="POST" action="{{url_for('sendEmail')}}" style="text-align:center">
        <label for="label">Digite su usuario:</label><br>
        <input type="text" id="user" required="required" name="user"><br><br>
        <label for="label">Digite su email:</label><br>
        <input type="email" id="email" required="required" name="email"><br><br>
        <input type="submit" value="Recuperar Contraseña"><br><br><br>
    </form>
    
    <div style="text-align:center">
        <p>Si su correo y usuario se encuentran registrados en la base de datos, se le enviará un email.</p>
        <p>Importante: Verifique su correo electrónico (Revise Spam) y siga los pasos que se le indican allí.</p>
    </div>

    <section class="content">
        {%for message in get_flashed_messages()%}
        <div class="flash" style="text-align:center"><strong>{{message}}</strong></div>
        {%endfor%}
    </section>
</body>

</html>