<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Login Blog</title>
    <script src="{{ url_for('static', filename='javascript/validacion.js') }}"></script>
</head>
<link rel="stylesheet" href="{{ url_for('static', filename='css/loginStyle.css') }}" />

<body>
    <div class="banner">
        <div class="app-title">
            <h1>Blog</h1>
        </div>

        <div class="login-form">
            <div class="control-group">
                <input type="text" class="login" value="" required="required" placeholder="Usuario" id="user">
                <label class="login-field-icon fui-user" for="login-usuario"></label>
            </div>

            <div class="control-group"><br>
                <input type="password" class="login" value="" required="required" placeholder="Contraseña" id="password">
                <label class="login-field-icon fui-lock" for="login-contraseña"></label>
            </div>

            <div class="ingresar"><br>
                <button class="botonIn">
                        <span h>Inicia Sesión</span>
                    </button>
            </div>

            <div class="panel">
                <a class="login-link" href="/recuperarCuenta">¿Olvidaste tu contraseña?</a><br>
            </div>

            <div class="panel">
                <a class="login-link" href="/CrearCuenta">¿Primera vez? ¡Regístrate!</a><br>
            </div>
        </div>
        </form>
</body>