<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Información del usuario</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboardStyle.css') }}" />
</head>

<header>
    <div class="busquedad">
        <input href="/resultados" name="buscar" type="text" autocomplete="off" placeholder="Buscar" />
    </div>
    <div>
        <nav class="menu">
            <a href="/create">crear</a>
            <a href="">Explorar</a>
            <a href="">mis blogs</a>
        </nav>
    </div>
    <div class="perfil">
        <ul class="nav">
            <li>
                <a href="">Usuario: {{session['username']}}</a>
                <ul>
                    <li><a href="/perfil">Perfil</a></li>
                    <li><a href="/cambiarClave">Configuracion</a></li>
                    <li><a href="/logout">Cerrar Sesion</a></li>
                </ul>
            </li>
        </ul>
    </div>
</header>

<body>
    <h1><strong>Información del usuario</strong></h1><br><br><br>
    <div id="recuadro" style="text-align: center;">
        <p><strong>Información del usuario</strong></p><br>
        <p>Nombre completo: {{session['nombre'] + " " + session['apellido']}} </p> <br>
        <p>Correo electrónico: {{session['correo']}} </p> <br><br>
        <p>Contraseña
            <button id="cambiar " type="submit" formatarget="_blank " onclick="location.href='/cambiarClave'"> Cambiar contraseña
            </button>
        </p>
    </div>
</body>

</html>