<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Información del usuario</title>
    <link
      rel="stylesheet"
      href=" {{ url_for( 'static', filename='css/dashboardStyle.css') }} "
    />
  </head>

  <header>
    <div class="busquedad">
      <input
        href="/resultados "
        name="buscar "
        type="text "
        autocomplete="off "
        placeholder="Buscar "
        style="width: 100%"
      />
    </div>
    <div>
      <nav class="menu">
        <a href="/create ">crear</a>
        <a href=" ">Explorar</a>
        <a href=" ">mis blogs</a>
      </nav>
    </div>
    <div class="perfil">
      <ul class="nav">
        <li>
          <a href=" ">Usuario</a>
          <ul>
            <li><a href="/perfil">Perfil</a></li>
            <li><a href="/cambiarClave">Configuracion</a></li>
            <li><a href="/login ">Cerrar Sesion</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </header>

  <body>
    <h1><strong>Información del usuario</strong></h1>
    <div id="tabla ">
      <p><strong>Información del usuario</strong></p>
      <table border="1" width="3" 5% HEIGHT="5" 0% rules="groups ">
        <tr>
          <td>
            <p>Nombre</p>
            <p>Correo electrónico</p>
            <p>
              Contraseña
              <button
                id="cambiar "
                type="summit "
                formatarget="_blank "
                href="/cambiarClave"
              >
                Cambiar contraseña
              </button>
            </p>
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
