* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
  background-image: url(https://w.wallhaven.cc/full/2e/wallhaven-2eroxm.jpg);
}
body {
  color: white;
  font: "roboto";
  font-size: 5em;
}
