.contenido {
    position: relative;
    left: 5%;
}

.aside {
    position: fixed;
    left: 70%;
    top: 25%;
}

.box {
    display: inline-block;
}

#sesion {
    margin-left: 40%;
}

input[type=text] {
    width: 55%;
    padding: 0.5%;
}

#menu {
    width: 40%;
    position: relative;
    transform: translate(0, -60%);
}

.contenido textarea {
    width: 55%;
    padding: 0.5%;
}