* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  background-color: #0d1d2b;
}

.login-form {
  display: flexbox;
  max-width: 25%;
  /*background-color: violet;*/
  margin-top: 75px;
  margin-left: 37.6%;
}

.app-title {
  text-align: center;
  color: white;
  border-bottom: 2px solid cyan;
  max-width: 20%;
  margin: auto;
  margin-top: 75px;
}

.panel {
  text-align: center;
  margin: 1em;
}

.login-link {
  color: white;
  text-decoration: none;
}

.login {
  height: 40px;
  /*width: 100%;*/
  border-radius: 7px;
  border: 2px solid cyan;
}

.ingresar {
  text-align: center;
}

#submit {
  margin: 1em;
  min-width: 230px;
  padding: 0.3em;
  background: linear-gradient(to right, #56ccf2, #2f80ed);
  border: 0;
  cursor: pointer;
  border-radius: 20px;
}

#submit {
  color: #fff;
  padding: 1.3em;
  border-radius: 17px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  background-color: #0d1d2b;
}

.login-form {
  display: flexbox;
  max-width: 25%;
  /*background-color: violet;*/
  margin-top: 75px;
  margin-left: 37.6%;
}

.panel {
  text-align: center;
  margin: 1em;
}

.login-link {
  color: white;
  text-decoration: none;
}

.login {
  height: 40px;
  /*width: 100%;*/
  border-radius: 7px;
  border: 2px solid cyan;
  text-align: center;
}

.ingresar {
  text-align: center;
}

.botonIn {
  margin: 1em;
  min-width: 230px;
  padding: 0.3em;
  background: linear-gradient(to right, #56ccf2, #2f80ed);
  border: 0;
  cursor: pointer;
  border-radius: 20px;
}

.botonIn span {
  color: #fff;
  padding: 1.3em;
  border-radius: 17px;
}
