#one {
    display: inline;
    width: 100px;
    height: 100px;
  }
  #two {
    float: right;
  }
  #privacidad,
  #agregar_imagenes {
    display: inline;
  }
  .crearblog {
    position: relative;
    left: 80px;
    margin-top: 20px;
  }

  input[type="text"],
  select {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .derecha {
    position: relative;
    float: right;
    bottom: 480px;
    left: 120px;
  }
  textarea {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
